html, body {
  /* width: 100px; */
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.header-section{
  background: #0f51a7;
  border-bottom: #bebebe;
  text-align: center;
  color: white;
  padding: 10px;
}

.heading{
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: monospace;
}
.heading img{
  height: 24px;
  margin-left: 10px;
}

.header-section a{
  color: white;
  font-family: fantasy;
  text-decoration: none;
}
.header-section p{
  margin: 10px;
  font-size: 14px;
  line-height: 1;
}

.share{
  min-width: 250px;
}
.share img{
  margin-right: 15px;
  width: 30px;
}
a.common-share-button {
  padding: .5em 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all linear .2s;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  color: #444;
}
a.common-share-button:hover{
  background: #ddd;
}
