html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.beast:hover {
  background-color: #CFF2F2;
}

.beast {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}

          .btn.share-btn {
              border: medium none;
              box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
              color: #fff;
              cursor: pointer;
              display: inline-block;
              font-size: 1.2em;
              margin-top: 6px;
              opacity: 0.9;
              outline: medium none;
              padding: 8px 16px;
          }

            .share-btn {
                display: inline-block;
                color: #ffffff;
                border: none;
                padding: 0.5em;
                width: 4em;
                opacity: 0.9;
                box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
                outline: none;
                text-align: center;
            }

            .share-btn:hover,
            .share-btn:focus {
              color: #eeeeee;
            }

            .share-btn:active {
              position: relative;
              top: 2px;
              box-shadow: none;
              color: #e2e2e2;
              opacity: 1;
              outline: medium none;
              position: relative;
              top: 2px;
          }

          .twitter {
              background: #55acee none repeat scroll 0 0;
              background-image: url(icons/twitter-15.png);
              display: block;
          }
          .facebook {
              background: #3b5998 none repeat scroll 0 0;
          }

          .reddit {
              background: #ff5700 none repeat scroll 0 0;
          }
          .linkedin {
              background: #4875b4 none repeat scroll 0 0;
          }
